body {
  background: #f8f8f8;
  padding-bottom: 80px;
}

.wx-area-title {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  line-height: 1.8;

  .wx-area-des {
    font-size: 14px;
    color: #888888;
    line-height: 2;
  }
}

.wx-area-mid {
  margin: 15px 0;
  line-height: 1.8;
}

.wx-area-img {
  img {
    display: block;
    width: 100%;
  }
}

.wx-area-con {
  border: none;
  width: 100%;
}

.wx-area-table {
  width: 100%;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;

  td {
    border-left:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    line-height: 1.6;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  .wx-table-title {
    td {
      font-weight: bold;
    }
  }
}

.wx-area-line {
  width: 100%;
  height: 0.6em;
  background: #f8f8f8;
}

.text-box-check {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  padding: 0 4px;
  line-height: 32px;
  color: #ffffff;
}

.text-box-nocheck {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  padding: 0 4px;
  line-height: 32px;
  color: #4c84c4;
}

.wx-bottom-nav {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #f8f8f8;
  z-index: 101;

  .wx-nav-item {
    flex: 1;
    font-size: 16px;
    line-height: 2.4;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    color: #000000;

    &:first-child {
      border: none;
    }
  }

  .wx-nav-item-20 {
    width: 20%;
    font-size: 16px;
    line-height: 2.4;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    color: #000000;

    &:first-child {
      border: none;
    }
  }

  .wx-nav-item-60 {
    width: 60%;
    text-align: right;
    font-size: 16px;
    line-height: 2.4;
    border-left: 1px solid #e5e5e5;
    color: #000000;
  }
}

.show-message-box {
    .weui-cell__ft {
        color: #000000;
        padding: 0;
        margin-left: 3px;

        &:after {
            right: -100px;
        }
    }
}

.show-state-box {
    .weui-cell__ft {
        color: #000000;
        padding: 0;
        margin-left: 3px;
        height: 60px;

        &:after {
            right: -100px;
        }
    }

    .no-done {
        display: inline-block;
        width: 30px;
        height: 16px;
        padding: 1px 3px;
        background: #9E855D;
        font-size: 12px;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
    }

    .has-done {
        display: inline-block;
        width: 30px;
        height: 16px;
        padding: 1px 3px;
        background: #999999;
        font-size: 12px;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
    }

    .is-doing {
        display: inline-block;
        width: 30px;
        height: 16px;
        padding: 1px 3px;
        background: green;
        font-size: 12px;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
    }

    .is-waiting {
        display: inline-block;
        width: 30px;
        height: 16px;
        padding: 1px 3px;
        background: #f7ba2a;
        font-size: 12px;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
    }
}

.wx-cell {
  display: flex;
  padding: 10px 15px;

  .wx-left-cell {
    min-width: 50px;
    font-size: 14px;
    color: #000000;
    margin-right: 10px;
    line-height: 2;
  }

  .wx-right-cell {
    flex: 1;

    .wx-cell-title {
      font-size: 14px;
      color: #000000;
      line-height: 2;
    }

    .wx-cell-des {
      font-size: 14px;
      color: #999999;
      line-height: 1.8;
    }

    .wx-cell-img {
      display: block;
      width: 100%;
    }
  }
}

.weui-btn-area {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 1.17647059em 15px .5em;
    background: #f8f8f8;
    z-index: 100;
}

.wx-area-text {
    font-size: 14px;
    line-height: 1.8;
    background: #ffffff;
    padding: 15px;
}

.wx-area-padding {
    background: #ffffff;
    padding: 0 15px;
}

.wx-mess-box {
  padding: 0 15px;
  background: #ffffff;
}

.bottom-box {
  height: 80px;
  background: #ffffff;
}

.null-box {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  color: #999999;
  font-size: 16px;
  text-align: center;
}

.no-margin {
  margin-top: 0;
}

.no-line {
    &:before {
        height: 0;
        border: none;
    }

    &:after {
        height: 0;
        border: none;
    }
}

.add-file-btn {
    display: block;
    font-size: 16px;
    line-height: 2.5;
    text-align: center;
    margin: 10px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.weui-uploader__file {
    background: #e5e5e5;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0,-50%);
    }
}


