.wx-area-title {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  line-height: 1.8;

  .wx-area-des {
    font-size: 14px;
    color: #888888;
    line-height: 2;
  }
}

.wx-area-mid {
  margin: 15px 0;
  line-height: 1.8;
}

.wx-area-img {
  img {
    display: block;
    width: 100%;
  }
}

.wx-area-con {
  border: none;
  width: 100%;
}

.wx-area-table {
  width: 100%;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;

  td {
    border-left:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    line-height: 1.6;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  .wx-table-title {
    td {
      font-weight: bold;
    }
  }
}

.wx-area-line {
  width: 100%;
  height: 0.6em;
  background: #eaeaea;
  border-top: 1px solid #c2c2c2;
}

.text-box-check {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  padding: 0 4px;
  line-height: 32px;
  color: #ffffff;
}

.text-box-nocheck {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  padding: 0 4px;
  line-height: 32px;
  color: #4c84c4;
}



