*:not(input,textarea) {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  -webkit-appearance:none;
  outline: none;
  border: none;
}

body {
  background: #ffffff;
  padding-bottom: 30px;
}

#app {
  background: #f8f8f8;
}

.wx-area-title {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  line-height: 1.8;

  .wx-area-des {
    font-size: 14px;
    color: #888888;
    line-height: 2;
  }
}

.wx-area-mid {
  margin: 15px 0;
  line-height: 1.8;
}

.wx-area-img {
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  .head-avatar-box {
    display: flex;
    position: absolute;
    left: 15px;
    top: 10px;

    .user-logo-box {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        border: 1px solid #E5E5E5;
        background: #ffffff;
        margin-right: 15px;
        box-sizing: border-box;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
    }

    .user-info-box {
        flex: 1;

        .user-name-box {
          display: block;
          font-size: 16px;
          line-height: 30px;
          margin-right: 20px;
          color: #ffffff;
        }

        .user-tel-box {
          display: block;
          font-size: 14px;
          line-height: 30px;
          margin-right: 20px;
          color: #ffffff;
        }
    }
  }
}

.wx-area-con {
  border: none;
  width: 100%;
}

.wx-area-table {
  width: 100%;
  border-right:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;

  td {
    border-left:1px solid #e5e5e5;
    border-top:1px solid #e5e5e5;
    line-height: 1.6;
    padding: 5px 10px;
    box-sizing: border-box;
  }

  .wx-table-title {
    td {
      font-weight: bold;
    }
  }
}

.wx-area-line {
  width: 100%;
  height: 0.6em;
  background: #f8f8f8;
}

.text-box-check {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  padding: 0 4px;
  line-height: 32px;
  color: #ffffff;
}

.text-box-nocheck {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  padding: 0 4px;
  line-height: 32px;
  color: #4c84c4;
}

.wx-bottom-nav {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  background: #f8f8f8;
  z-index: 101;

  .wx-nav-item {
    flex: 1;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    color: #000000;

    &:first-child {
      border: none;
    }
  }

  .nav-now {
    color: #999999;
  }

  .nav-blue {
    background: #2f7dcd;
    color: #ffffff;
    line-height: 51px;
    margin-top: -1px;
  }

  .wx-nav-item-20 {
    width: 20%;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border-left: 1px solid #e5e5e5;
    color: #000000;

    &:first-child {
      border: none;
    }
  }

  .wx-nav-item-30 {
    width: 30%;
    text-align: right;
    font-size: 16px;
    line-height: 2.4;
    border-left: 1px solid #e5e5e5;
    color: #000000;
  }
}

.show-message-box {
    .weui-cell__bd {
      min-width: 80px;

      &:after {
          right: -100px !important;
      }
    }

    .weui-cell__ft {
        color: #000000 !important;
        padding: 0 !important;
        margin-left: 3px !important;
        text-align: left;

        &:after {
            right: -100px !important;
        }
    }
}

.show-state-box {
    .weui-cell__ft {
        color: #000000;
        padding: 0;
        margin-left: 3px;
        height: 60px;

        &:after {
            right: -100px;
        }
    }

    .no-done {
        display: inline-block;
        width: 30px;
        height: 16px;
        padding: 1px 3px;
        background: #9E855D;
        font-size: 12px;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
    }

    .has-done {
        display: inline-block;
        width: 30px;
        height: 16px;
        padding: 1px 3px;
        background: #999999;
        font-size: 12px;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
    }

    .is-doing {
        display: inline-block;
        width: 30px;
        height: 16px;
        padding: 1px 3px;
        background: green;
        font-size: 12px;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
    }

    .is-waiting {
        display: inline-block;
        width: 30px;
        height: 16px;
        padding: 1px 3px;
        background: #f7ba2a;
        font-size: 12px;
        color: #ffffff;
        border-radius: 8px;
        text-align: center;
    }
}

.no-center {
  align-items: baseline !important;
}

.left-padding {
  padding-left: 120px;
  position: relative;

  .left-title {
    position: absolute;
    line-height: 1.47058824;
    font-size: 17px;
    color: inherit;
    left: 15px;
    top: 20px;
    width: 95px;
  }

  .weui-media-box {
      padding: 10px 15px 10px 0;
  }

  .weui-media-box:before {
    left: 0 !important;
  }

  .weui-media-box_appmsg .weui-media-box__hd {
      height: 40px;
      line-height: 40px;
  }

  .weui-media-box__title {
    font-size: 14px;
  }

  .weui-media-box__desc {
    font-size: 12px;
  }
}

.wx-cell {
  display: flex;
  padding: 10px 15px;

  .wx-left-cell {
    min-width: 50px;
    font-size: 14px;
    color: #000000;
    margin-right: 10px;
    line-height: 2;
  }

  .wx-right-cell {
    flex: 1;

    .wx-cell-title {
      font-size: 14px;
      color: #000000;
      line-height: 2;
    }

    .wx-cell-des {
      font-size: 14px;
      color: #999999;
      line-height: 1.8;
    }

    .wx-cell-img {
      display: block;
      width: 100%;
    }
  }
}

.wx-cells-box {
  width: 100%;
}

.wx-cell-box {
  display: flex;
  padding-left: 15px;

  .wx-left-cell {
    font-size: 14px;
    color: #999999;
    margin-right: 10px;
    line-height: 2.4;
  }

  .wx-right-cell {
    flex: 1;
    font-size: 14px;
    color: #999999;
    text-align: right;
    line-height: 2.4;
  }
}

.weui-btn-area {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 9px 15px 5px;
    background: #ffffff;
    z-index: 100;
}

.wx-area-text {
    font-size: 14px;
    line-height: 1.8;
    background: #ffffff;
    padding: 15px;
}

.wx-area-padding {
    background: #ffffff;
    padding: 0 15px;
}

.wx-mess-box {
  padding: 0 15px;
  background: #ffffff;
}

.bottom-box {
  height: 80px;
  background: #ffffff;
}

.null-box {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  color: #999999;
  font-size: 16px;
  text-align: center;
}

.null-box {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  color: #999999;
  font-size: 16px;
  text-align: center;
}

.null-page {
  width: 100%;
  line-height: 240px;
  background: #ffffff;
  color: #999999;
  font-size: 16px;
  text-align: center;
}

.no-margin {
  margin-top: 0 !important;
}

.no-line {
    &:before {
        height: 0 !important;
        border: none !important;
    }

    &:after {
        height: 0 !important;
        border: none !important;
    }
}

.add-file-btn {
    display: block;
    font-size: 16px;
    line-height: 2.5;
    text-align: center;
    margin: 10px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.weui-uploader__file {
    background: #e5e5e5;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 70px;

    img {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0,-50%);
    }
}

.weui-uploader__input-box {
    width: 70px;
    height: 70px;
}

.btn-height-box {
  width: 100%;
  height: 30px;
  background: #ffffff;
}

.more-box {
  font-size: 18px;
  line-height: 2.5;
  text-align: center;
}

.weui-uploader__file {
    background: #e5e5e5;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0,-50%);
    }
}

.member-detail-box {
    background: #f8f8f8;

    .wx-area-img {
      width: 100%;
      height: 240px;
      overflow: hidden;
    }

    .avatar-box {
        position: relative;
        z-index: 10;
        height: 60px;
        overflow: hidden;
        margin-top: -40px;
        margin-bottom: 10px;

        div {
            float: right;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .img-box {
            width: 60px;
            height: 60px;
            border: 1px solid #E5E5E5;
            background: #ffffff;
            margin-right: 15px;
            box-sizing: border-box;
        }

        .name-box {
            font-size: 16px;
            line-height: 40px;
            margin-right: 20px;
            color: #ffffff;
        }
    }
}

.height-1 {
  height: 1px;
}

.mapBox {
    box-sizing: border-box;
    height: 120px;
    overflow: hidden;

    img {
        display: block;
        width: auto;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.weui-media-box_appmsg .weui-media-box__hd {
  overflow: hidden;

  img {
    display: block;
    width: auto !important;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wx-placeholder {
  color: #999999 !important;
}

.no-margin .weui-cells {
  margin: 0;
}

.add-line {
  position: relative;
}

.add-line:before {
  content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    transform-origin: 0 0;
    transform: scaleY(0.5);
    left: 15px;
}

.add-btn-icon {
  position: absolute;
  width: 50px;
  height: 24px;
  top: -12px;
  right: -20px;

  &:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    transform: translate(-50%,-50%);
    background-color: #2f7dcd;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    transform: translate(-50%,-50%);
    background-color: #2f7dcd;
  }
}

.weui-uploader {
  margin-left: 105px;
}

.no-read {
  position: relative;

  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #F43530;
  top: 10px;
  left: 70px;
  z-index: 188;
}

.small-img {
  width: 20px;
  margin-right: 5px;
  display: block;
}

.small-title {
  font-size: 14px;
}

