<!DOCTYPE html>
<html>

<head>
    <title>营销精英</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui-for-work.min.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <template v-if="isPage">
            <router-view></router-view>
        </template>
    </div>
</body>
</html>